# Application
NODE_ENV=production
SITE_URL=https://example.com

# Security
JWT_SECRET=<Generate it by `openssl rand -hex 32`>
ADMIN_SECRET=<Generate it by `openssl rand -hex 32`>

# PostgreSQL
POSTGRES_DB=iranaip
POSTGRES_USER=iranaip
POSTGRES_PASSWORD=password

# Prisma
DATABASE_URL=postgresql://iranaip:password@postgres:5432/iranaip